<div *ngIf = "current">

<img [src] = "current.image"/>

  <div class=description>
    <span class = "namegenres">
      Name of the Show: {{current.name}}, 
      <br>
      The Genre of the Show: {{current.genres}},
    </span>
    <br>
      <span class="langandstatus">
        Current Language: {{current.language}},
        <br>
       Current Status: {{current.status}},
      </span>
      <br>
      Current runtime: {{current.runtime}} min,
      <br>
      <br>
      <div>
       <span class="summary">
         The Summary of the Show: {{current.summary}}
       </span>
      </div>
      <br>
    
</div>
