<div *ngIf="current" class="show-comp">
    <div *ngFor="let curr of current">
      <div class="row">
        <div class="col col-lg-2 col-md-2 col-sm-12"> 
          <img class="show-img" [src]='curr.image'/>
        </div>
  
        <div class="col col-lg-10 col-md-10 col-sm-12 show-details">
          <h2>{{curr.name}}</h2>
          <div [innerHTML]="curr.summary"></div>
          <h3>Show Details</h3>
          <ul>
            <li><strong>Premiered:</strong> {{curr.premiered}}</li>
            <li><strong>Status:</strong> {{curr.status}}</li>
            <li><strong>Schedule:</strong> {{curr.days}}s at {{curr.time}} ({{curr.runtime}} minutes)</li>
            <li><strong>Genres:</strong> {{curr.genres.join(' | ')}}</li>
            <li><strong>Language:</strong> {{curr.language}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  